<h1>Reviews for <%= @item.name %></h1>

<table>
  <tr class="item_table_tr">
    <th>Reviewer</th>
    <th>Review</th>
  </tr>

<% for review in @reviews %>
  <tr class="item_table_tr">
    <td class="item_table_td_left"><%=h review.reviewer %></td>
    <td class="item_table_tr"><%=h review.body %></td>
    <td class="item_table_tr">
        <%= link_to "<img src='/images/destroy.png' width='15px' heigth='15px'>", item_review_path(@item, review),
            :confirm => 'Are you sure?', :method => :delete %>

    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Write a review', new_item_review_path(@item) %>
<%= link_to 'Back to item', @item %>
